@import './style_components/variables';
@import './style_components/nouislider';
@import './style_components/pagination';


// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx--STYLES TOYS PAGE--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

// --------------------------------------PRODUCT__MENU----------------------------------------------->

.wrapper {
  background: rgba(125, 151, 218, 0.2);
  margin-bottom: 61px;
}

.product__menu {
  display: flex;
  align-items: flex-start;
  padding-top: 42px;
  padding-bottom: 42px;

  & span {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    color: $main-color-text;
    display: block;
    margin-bottom: 14px;
  }

  & label {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: $main-color-text;
    cursor: pointer;
    position: relative;
  }

  &__cost {
    display: flex;
    flex-direction: column;
    max-width: 207px;
    width: 100%;
    margin-right: 96px;
  }
  & .menu__color {
    min-width: 75px;
    margin-right: 125px;

    &__item {
      & input {
        margin-right: 10px;
      }
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  & .menu__delivery {
    margin-right: 70px;

    &__item {
      & input {
        margin-right: 9px;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  & .menu__amount {
    max-width: 240px;
    width: 100%;
    margin-right: 61px;

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      display: flex;
      flex-grow: 1;
      background-color: #ffffff;
      align-items: center;

      & .amount__label {
        font-family: 'Open Sans', 'Arial', sans-serif;
        font-size: 1rem;
        line-height: 34px;
        color: $main-color-text;
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }
  }

  &__btn {
    margin-top: 37px;
  }
}

//  range style-------------------------------->
.range__container {
  padding: 0 13px 0 6px;
  position: relative;
  margin-top: 9px;
}

.range__inp__min,
.range__inp__max {
 position: absolute;
  top: 25px;
}

.range__inp__min {
  
  left: 6px;
  transform: translateX(-50%);
}

.range__inp__max {
  
  right: 14px;
  transform: translateX(50%);
}



.range__inp {
  margin-bottom: 16px;
}

.noUi-target {
    background-color: #72757C;
    border-radius: 0;
    border: none;
    box-shadow: none; 
}

.noUi-horizontal {
    height: 4px;
}

.noUi-horizontal .noUi-handle {
    top: -10px;
}

.noUi-handle	{
  background-color: #C29974;
  border-radius: 50%;
  box-shadow: none;
  border: 0;
  
  &:before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &:after {
    content: none;
  }
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;

}

.noUi-connects {
    border-radius: 0;
}

.noUi-connect	{
  background-color: #C29974;
}

//  range style--------xxxxxxx------------------>


.menu__color input[type='checkbox'],
.menu__delivery input[type='radio'] {
  position: relative;
  opacity: 0;
}
.menu__amount input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

.color__label,
.delivery__label {
  position: relative;
}

.color__label:hover,
.delivery__label:hover {
  text-decoration: underline;
}

.color__label:after,
.color__label:before,
.delivery__label:after,
.delivery__label:before {
  position: absolute;
  display: inline-block;
  content: '';
}

.color__label:before {
  width: 19px;
  height: 19px;
  border: 2px solid #c29974;
  border-radius: 3px;
  left: -29px;
  top: 2px;
}
.color__label:after {
  width: 19px;
  height: 19px;
  left: -30px;
  top: 3px;
  background: url(../img/icons/checked.svg) no-repeat top right;
  opacity: 0;
}

.color__checkbox:checked + .color__label:after {
  opacity: 1;
}

.color__checkbox:disabled + .color__label:before,
.color__checkbox:disabled + .color__label {
  opacity: 0.5;
}

.color__checkbox:disabled + .color__label:hover,
.delivery__checkbox:disabled + .delivery__label:hover {
  text-decoration: none;
}

.delivery__label:before {
  width: 20px;
  height: 20px;
  border: 2px solid #c29974;
  border-radius: 50%;
  left: -29px;
  top: 2px;
}
.delivery__label:after {
  width: 12px;
  height: 12px;
  left: -25px;
  top: 6px;
  background-color: #c29974;
  border-radius: 50%;
  opacity: 0;
  
}

.delivery__radio:checked + .delivery__label:after {
  opacity: 1;
}

.delivery__radio:disabled + .delivery__label:before,
.delivery__radio:disabled + .delivery__label {
  opacity: 0.5;
}

.amount__checkbox:checked ~ .amount__label {
  background: #f3d0db;
}

.amount__checkbox:disabled ~ .amount__label {
  opacity: 0.4;
  background-color: #443f3f34;
}

.amount__label:hover {
  background: #eddeeb;
}

// -------------------------------------SECTION TOYS------------------------------------->

.toys__catalog {
  margin-bottom: 50px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  &__item {
    max-width: 380px;
    width: 100%;
    position: relative;
  }
  &__link {
    font-family: 'Open Sans', 'Arial', sans-serif;
    color: $main-color-text;
    display: block;
    width: 100%;
    height: 100%;

    & img {
      background-color: transparent;
      object-fit: contain;
      margin-bottom: 32px;
    }
    & p {
      font-size: 0.9rem;
      line-height: 1.4rem;
      text-align: center;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    & span {
      display: block;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.4rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
  }
}

.toys__catalog__item:after {
  position: absolute;
  content: 'learn more';
  display: flex;
  max-width: 207px;
  width: 100%;
  height: 207px;
  background-color: #e5eaf8;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: $main-color-text;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  cursor: pointer;
  opacity: 0;
  transition: all .4s ease;
}

.toys__catalog__item:hover:after {
  opacity: 0.9;
}

.toys__catalog__item:active:after {
  opacity: 0.67;
}