<footer class="footer">
  <div class="footer__container container">
    <div class="footer__up">
      <div class="footer__nav">
        <h3 class="footer__nav__title footer-title">Navigation</h3>
        <ul class="footer__nav__list">
          <li class="footer__nav__item footer-item">
            <a class="footer__nav__link footer-link" href="#">About Us</a>
          </li>
          <li class="footer__nav__item footer-item">
            <a class="footer__nav__link footer-link" href="#">Blog</a>
          </li>
          <li class="footer__nav__item footer-item">
            <a class="footer__nav__link footer-link" href="#"
              >Design Services</a
            >
          </li>
          <li class="footer__nav__item footer-item">
            <a class="footer__nav__link footer-link" href="#">Featured On</a>
          </li>
          <li class="footer__nav__item footer-item">
            <a class="footer__nav__link footer-link" href="#"
              >2018 Holiday Catalog</a
            >
          </li>
          <li class="footer__nav__item footer-item">
            <a class="footer__nav__link footer-link" href="#"
              >Shop By Designer</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__nav">
        <h3 class="footer__nav__title footer-title">Customer Information</h3>
        <ul class="footer__nav__list">
          <li class="footer__nav__item footer-item">
            <a class="footer__nav__link footer-link" href="#">Contact Us</a>
          </li>
          <li class="footer__nav__item footer-item">
            <a class="footer__nav__link footer-link" href="#"
              >Sale Exclusions</a
            >
          </li>
          <li class="footer__nav__item footer-item">
            <a class="footer__nav__link footer-link" href="#"
              >Shipping & Returns</a
            >
          </li>
          <li class="footer__nav__item footer-item">
            <a class="footer__nav__link footer-link" href="#"
              >Terms & Conditions</a
            >
          </li>
          <li class="footer__nav__item footer-item">
            <a class="footer__nav__link footer-link" href="#">Privacy Policy</a>
          </li>
          <li class="footer__nav__item footer-item">
            <a class="footer__nav__link footer-link" href="#">Search</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav">
        <h3 class="footer__nav__title footer-title">Connect</h3>
        <form class="footer__nav__form" action="#" method="POST">
          <input type="email" placeholder="Email" />
          <button class="btn btn-mail" type="submit">join</button>
        </form>
        <ul class="footer__nav__links">
          <li class="footer__nav__social">
            <a
              class="footer__nav__link link-fb"
              href="#"
              aria-label="link facebook"
            >
              <svg>
                <use href="img/sprite_mono.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__nav__social">
            <a
              class="footer__nav__link link-twitter"
              href="#"
              aria-label="link twitter"
            >
              <svg>
                <use href="img/sprite_mono.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer__nav__social">
            <a
              class="footer__nav__link link-pinterest"
              href="#"
              aria-label="link pinterest"
            >
              <svg>
                <use href="img/sprite_mono.svg#pinterest"></use>
              </svg>
            </a>
          </li>
          <li class="footer__nav__social">
            <a
              class="footer__nav__link link-inst"
              href="#"
              aria-label="link instagram"
            >
              <svg>
                <use href="img/sprite_mono.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__down">
      <div class="raiting">
        <span class="raiting__txt">Company Raiting</span>
        <ul class="raiting__list" data-total-value="0">
          <li class="raiting__item" tabindex="0" aria-label="star 5">
            <svg class="star-icon">
              <use href="img/sprite_multi.svg#star" data-item-value="5"></use>
            </svg>
          </li>
          <li class="raiting__item" tabindex="0" aria-label="star 4">
            <svg class="star-icon">
              <use href="img/sprite_multi.svg#star" data-item-value="4"></use>
            </svg>
          </li>
          <li class="raiting__item" tabindex="0" aria-label="star 3">
            <svg class="star-icon">
              <use href="img/sprite_multi.svg#star" data-item-value="3"></use>
            </svg>
          </li>
          <li class="raiting__item" tabindex="0" aria-label="star 2">
            <svg class="star-icon">
              <use href="img/sprite_multi.svg#star" data-item-value="2"></use>
            </svg>
          </li>
          <li class="raiting__item" tabindex="0" aria-label="star 1">
            <svg class="star-icon">
              <use href="img/sprite_multi.svg#star" data-item-value="1"></use>
            </svg>
          </li>
        </ul>
      </div>
      <span class="footer__down__copyright">Copyright © 2018 Dlk • Design Life Kids</span>
      <a href="https://directline.digital/" target="_blank">
        Web Design — Direct Line Development
      </a>
    </div>
  </div>
</footer>
