<header class="header">
  <div class="header__container container">
    <a href="/" class="header__logo" aria-label="link to the main page">
      <svg class="dlk-logo">
        <use href="img/sprite_multi.svg#dlk-logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="catalog.html"> catalog</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#"> about us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="blog.html"> blog</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="animation.html"> animation</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="svg.html"> svg</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="grid.html"> grid</a>
        </li>
      </ul>
    </nav>
    <div class="header__search">
      <input
        class="search__inp"
        type="text"
        placeholder="Search..."
        aria-label="input search"
      />
      <button type="button" class="search__btn" aria-label="button search">
        <svg class="search-icon">
          <use href="img/sprite_multi.svg#search"></use>
        </svg>
      </button>
    </div>
    <a class="header__contact" href="contact.html">contact us</a>
    <div class="burger-btns">
      <button class="burger-btns__open">menu</button>
      <button class="burger-btns__close">
        <svg class="">
          <use href="./img/sprite_multi.svg#close-burger"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="burger">
    <div class="burger__menu">
      <ul class="burger__list">
        <li class="nav__item burger__item">
          <a class="nav__link" href="catalog.html"> catalog</a>
        </li>
        <li class="nav__item burger__item">
          <a class="nav__link" href="#"> about us</a>
        </li>
        <li class="nav__item burger__item">
          <a class="nav__link" href="blog.html"> blog</a>
        </li>
        <li class="nav__item burger__item">
          <a class="nav__link" href="animation.html"> animation</a>
        </li>
        <li class="nav__item burger__item">
          <a class="nav__link" href="svg.html"> svg</a>
        </li>
        <li class="nav__item burger__item">
          <a class="nav__link" href="grid.html"> grid</a>
        </li>
      </ul>
      <a class="header__contact burger__contact" href="contact.html"
        >contact us</a
      >
    </div>
  </div>
</header>
