<div class="pagination">
  <a href="#" aria-label="prev articles">
    <svg width="50" height="50">
      <use xlink:href="img/sprite_multi.svg#arrow"></use>
    </svg>
  </a>
  <ul>
    <li>
      <a class="pagination__btn active" href="#">
        1
      </a>
    </li>
    <li>
      <a class="pagination__btn" href="#">
        2
      </a>
    </li>
    <li>
      <a class="pagination__btn" href="#">
        3
      </a>
    </li>
    <li>
      <a class="pagination__btn" href="#">
        4
      </a>
    </li>
  </ul>
  <a href="#" aria-label="next articles">
    <svg width="50" height="50">
      <use xlink:href="img/sprite_multi.svg#arrow"></use>
    </svg>
  </a>
</div>