<div class="popup-contacts">
  <div class="popup-contacts__body">
    <div class="contact-form">
      <form action="#" method="POST">
        <div class="contact-form__wrapper">
          <label for="contact-name">Name</label>
          <input type="text" id="contact-name" />
        </div>
        <div class="contact-form__wrapper">
          <div class="contact-form__wrapper__inner">
            <label for="contact-phone">Phone</label>
            <input type="number" id="contact-phone" />
          </div>
          <div class="contact-form__wrapper__inner">
            <label for="contact-email">Email</label>
            <input type="email" id="contact-email" />
          </div>
        </div>
        <div class="contact-form__wrapper">
          <label for="contact-message">Message</label>
          <textarea id="contact-message"></textarea>
        </div>
        <div class="contact-form__consent">
          <input
            class="contact-form__consent__inp"
            type="checkbox"
            id="contact-check"
            checked
          />
          <label class="contact-form__consent__label" for="contact-check"
            >By clicking on the button, you consent to the processing of your
            personal data
          </label>
        </div>
        <button class="contact-form__btn btn" type="submit">submit</button>
      </form>
      <button class="popup-btn-close" type="button" aria-label="Close">
        <svg class="popup-btn-close">
          <use class="popup-btn-close" href="img/sprite_multi.svg#btn-close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
