.blog__content__item {
  max-width: 380px;
  width: 100%;
}

.blog__content__pic {
  height: 220px;
  margin-bottom: 21px;
  background-color: lightblue;
}

.blog__content__img { 
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.blog__content__date {
  font-family: 'Open Sans', 'Arial', sans-serif;
  display: block;
  font-size: 1rem;
  line-height: 1.4;
  color: #818181;
  margin-bottom: 7px;
}

.blog__content__link {
  color: $main-color-text;

  & h2 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.3;
    margin-bottom: 13px;
  }
  &:hover {
    text-decoration: underline;
  }
}

.blog__content__txt {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 1.12rem;
  line-height: 1.4;
  color: $main-color-text;
  margin-bottom: 20px;
}


//--------------MEDIA-------------------->

@media (max-width: 920px) { 
  .blog__content__pic {
     height: 182px;
  }
  .blog__content__item {
    max-width: 314px;
    width: 100%;
  }
}

@media (max-width: 785px) { 
  .blog__content__pic {
    margin-bottom: 14px;
  }
  .blog__content__date {
    margin-bottom: 3px;
  }
  .blog__content__link h2{
    margin-bottom: 9px;
  }
  .blog__content__txt {
    margin-bottom: 15px;
  }
}

@media (max-width: 784px) { 
  .blog__content__item {
    max-width: 500px;
  }
  .blog__content__pic {
    height: 250px;
  }
}

@media (max-width: 500px) { 
  .blog__content__item {
    max-width: calc(335px + (500 - 335) * ((100vw - 392px) / (500 - 392)));
  }
  .blog__content__pic {
    height: calc(194px + (250 - 194) * ((100vw - 392px) / (500 - 392)));
  }
  .blog__content__date {
    font-size: calc(14px + (16 - 14) * ((100vw - 392px) / (784 - 392)));
  }
  .blog__content__link h2 {
    font-size: calc(18px + (24 - 18) * ((100vw - 392px) / (784 - 392)));
    line-height: calc(21px + (31 - 21) * ((100vw - 392px) / (784 - 392)));
  }
  .blog__content__txt {
    font-size: calc(16px + (18 - 16) * ((100vw - 392px) / (784 - 392)));
  } 
}

@media (max-width: 392px) { 
  .blog__content__pic {
    margin-bottom: 8px;
  }
  .blog__content__date {
    margin-bottom: 4px;
  }
  .blog__content__link h2 {
    margin-bottom: 7px;
  }
  .blog__content__txt {
    margin-bottom: 10px;
  }
}