$main-color-text: #1E0606;

$link-color-header-hover: #8e8282;
$link-color-header-active: #d2cdcd;

$btn-color-bg: #000000;
$btn-color-bg-hover: #C29974;
$btn-color-bg-active: #CFAF91;
$btn-color-bg-disable:#C7C1C1;

$link-color-text-footer:#FFFFFF;
$link-color-footer-hover:#a1a1a1;
$link-color-footer-active:#696969;

